# состояние сервера VS Code внутри контейнера, чтобы не переустанавливать его каждый раз
.devcontainer/.vscode-server
# кеш (например скаченные pip пакеты)
.devcontainer/cache/

# необязательные данные с хоста
.devcontainer/cfg/git_host.tmp

# логи airflow
logs/

# смонтированные конфиги (оригиналы хранятся в .devcontainer/cfg)
/airflow.cfg
/webserver_config.py

# служебный файл сервера
/airflow-webserver.pid

# pycache
*__pycache__/

# tests
test/
dags/test/

# файлы IntelliJ IDEA
.idea

# внешние репозитории
_ext_repos/