name: airflow_devcontainer

x-env:
  &env
  env_file:
      - .env

x-restart:
  &restart
  restart: unless-stopped

x-airflow-common:
  &airflow-common
  <<: *env
  build:
    args:
      AIRFLOW_VERSION: "2.10.2"
      PYTHON_VERSION: "3.11"
      AIRFLOW_UID: ${AIRFLOW_UID}
    context: ..
    dockerfile: .devcontainer/Dockerfile
  user: "${AIRFLOW_UID}:0"

  volumes:
    - ..:${AIRFLOW_HOME}
    - ./cfg/webserver_config.py:${AIRFLOW_HOME}/webserver_config.py
    - ./.vscode-server:/home/airflow/.vscode-server
    - ./.cache/pip:/home/airflow/.cache/pip

x-depends-on:
  &depends-on
  depends_on:
    airflow-db:
      condition: service_healthy
    airflow-init:
      condition: service_completed_successfully


services:
  airflow-db:
    <<: [ *env, *restart ]
    image: postgres:15-alpine # для AF<2.7 postgres:10.13-alpine
    stop_grace_period: 20s
    volumes:
      - airflow-db-volume:/var/lib/postgresql/data
    
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "airflow" ]
      interval: 5s
      retries: 5

  scheduler:
    <<: [ *airflow-common, *depends-on, *restart ]
    command: scheduler

  webserver:
    <<: [ *airflow-common, *depends-on, *restart ]
    command: webserver --port 8080
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
      interval: 30s
      timeout: 30s
      retries: 5

  airflow-init:
    <<: *airflow-common
    user: "0:0"
    entrypoint: /bin/bash
    command:
      - -c
      - |
        echo "Setting directories and permissions ..."
        mkdir -m 775 -p ${AIRFLOW_HOME}/{logs,dags,plugins} /home/airflow/{.vscode-server,.cache}
        chmod -R 775 /home/airflow/{.vscode-server,.cache}
        echo "Check AIRFLOW_HOME:"
        env | grep AIRFLOW_HOME && ls -lah ${AIRFLOW_HOME}
        exec /entrypoint airflow version
    depends_on:
      airflow-db:
        condition: service_healthy


# для отладки метрик:
  # metrics-test:
  #   image: hypnza/statsd_dumpmessages
  #   ports:
  #     - "8125:8125/udp"

networks:
  default:
    attachable: true
volumes:
  airflow-db-volume:
